body {
  font-family: "Montserrat", sans-serif;
}

p {
    font-size: 20px;
}

:root{
    --green: #27ae60;
    --black: #2c2c54;
    }

    *{
        font-family: 'Nunito', sans-serif;
        margin: 0; padding: 0;
        box-sizing: border-box;
        outline: none; border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: all .2s linear;
    }

    *::selection{
        background: var(--green);
        color: #fff;
    }
    
    html{
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-padding-top: 6.5rem;
        scroll-behavior: smooth;
    }

    .section{
        padding: 2rem 9%;
    }
    
    .btn{
        display: inline-block;
        margin-top: 1rem;
        background: var(--green);
        color: #fff;
        padding: .8rem 3rem;
        font-size: 1.7rem;
        text-align: center;
        cursor: pointer;
    }
    
    .btn:hover{
        background: var(--black);
        transform:scale(1.1);
    }

    .heading{
        text-align: center;
        color: var(--black);
        text-transform: uppercase;
        padding: 1rem;
        font-size: 3.5rem;
        padding-bottom: 2rem;
    }
    
    .header-1{
        background: #eee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 9%;
    }
    
    .responsive {
         width: 100%;
        height: auto;
}   

    .logo{
        color: var(--black);
        font-weight: bolder;
        font-size: 3rem;
    }

    .logo i{
        padding-right: .5rem;
        color: var(--green);
    }
    
    .header-1 .search-box-container{
        display: flex;
        height: 5rem;
    }
    
    .header-1 .search-box-container #search-box{
        height: 100%;
        width: 100%;
        padding: 1rem;
        font-size: 2rem;
        color: #333;
        border: .1rem solid rgba(0, 0, 0, .3); 
        text-transform: none;
    }
    
    .header-1 .search-box-container label{
        height: 100%;
        width: 8rem;
        font-size: 2.5rem;
        line-height: 5rem;
        color: #fff;
        background: var(--green);
        text-align: center;
        cursor: pointer;
    }
    
    .header-1 .search-box-container label:hover{
        background: var(--black);
    }
    
    .heading{
        text-align: center;
        color: var(--black);
        text-transform: uppercase;
        padding: 1rem;
        font-size: 3.5rem;
        padding-bottom: 2rem;
    }

    .heading span{
        color: var(--green);
        text-transform: uppercase;
    }

    
.header-2{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
    position: relative;
}

.header-2.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10000;
}

.header-2 .navbar a{
    padding: 5rem 1.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    color: var(--black);
}


.header-2{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
    position: relative;
}

.header-2.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10000;
}

.header-2 .navbar a{
    padding: .5rem 1.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    color: var(--black);
}

.header-2 .navbar a:hover{
    background: var(--green);
    color: #ffff;
}

.header-2 .icons a{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem;
}

.header-2 .icons a:hover{
    color: var(--green);
}

.product .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.product .box-container .box{
    flex: 1 1 30rem;
    text-align: center;
    padding: 2rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}

.product .box-container .box img{
    height: 20rem;
}


.product .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    background: rgba(0, 255, 0, .1);
    color: var(--green);
    padding: .7rem 1rem;
    font-size: 2rem;
}

.product .box-container .box .icons{
    position: absolute;
    top: .5rem; left: -6rem;
}

.product .box-container .box:hover .icons{
    right: 1rem;
}

.product .box-container .box .icons a{
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: var(--black);
    background: rgba(0, 0, 0, .5);
    border-radius: 50%;
    padding-top: .7rem;
}

.product .box-container .box .icons a:hover{
    background: var(--green);
    color: #ffff;
}

.product .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
}

.product .box-container .box .stars i{
    padding: 1rem .1rem;
    font-size: 1.7rem;
    color: gold;
}

.product .box-container .box .price{
    font-size: 2rem;
    color: #333;
    padding: .5rem 0;
}

.product .box-container .box .price span{
    font-size: 1.5rem;
    color: #999;
    text-decoration: line-through;
}

.product .box-container .box .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
}

.product .box-container .box .quantity span{
    padding: 0 .7rem;
    font-size: 1.7rem;
}

.product .box-container .box .quantity input{
    border: .1rem solid rgba(0, 0, 0, .3);
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--black);
    padding: .5rem;
    background: rgba(0, 0, 0, .05);
}

.product .box-container .box .btn{
    display: block;
}

.contact form{
    text-align: center;
    padding: 2rem;
    border: .1rem solid rgba(0, 0, 0, .3);
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input, .contact form textarea{
    padding: 1rem;
    font-size: 1.7rem;
    background: #f7f7f7;
    text-transform: none;
    margin: 1rem 0;
    border: .1rem solid rgba(0, 0, 0, .3);
    width: 49%;
}

.contact form textarea{
    height: 20rem;
    resize: none;
    width: 100%;
}




